.button-board {
    flex: 0 302px;
    padding: 30px 0 0 30px;
    background: #bcbcbc;
    
    &.error {
        background: #f6c1c0;
    
        & .error-message {
            visibility: visible;
        }
    }
}

.group {
    &--arrow {
        margin-bottom: 50px;
    }

    &--button {
        margin-top: 10px;
    }

    &--radio {
        margin: 60px 0 20px;
    }

    &--error {
        margin-top: 50px;
    }
}

.error-message {
    color: #da0902;
    visibility: hidden;
}