.button {
    display: inline-block;
    height: 30px;
    padding: 0 13px 0 0;
    box-sizing: border-box;
    text-align: left;
    color: #404040;
    background: linear-gradient(#fefefe,#ebebeb);
    border: 1px solid rgba(0,0,0, .15);
    border-bottom: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background: linear-gradient(#f2f2f2,#dedede) no-repeat;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0, .15);
        border-bottom: 1px solid rgba(0,0,0, .3);
    }

    &:active {
        border: 1px solid rgba(0,0,0, .2);
        border-top: 1px solid rgba(0,0,0, .35);
        background: linear-gradient(180deg,rgba(0,0,0,.15) 0,#d9d9d9 2px,#d9d9d9) no-repeat;
        outline: none;   
    }

    &:disabled {
        background: #f2f2f2;
        border: 1px solid rgba(0,0,0,.15);
        color: gray;
        cursor: default;
    }
}

.arrow-button--wrapper {
    display: inline-block;
    padding: 2px 10px 2px 2px;
    overflow: hidden;
}

.arrow-button {
    position: relative;
    padding: 10px 25px;
    border: 1px solid rgba(26,103,6, .7);
    border-bottom-color: rgba(22,80,7, .8);
    border-right: none;
    border-radius: 3px 0 0 3px;
    background: linear-gradient(#4ba91d,#38920c);
    color: #fff;
    outline: none;

    &:before {
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        position: absolute;
        right: -10px;
        top: 7px;
        box-sizing: border-box;
        border: 1px solid rgba(26,103,6, .7);
        border-right-color: rgba(22,80,7, .8);
        border-radius: 3px;
        background: linear-gradient(to right bottom, #4ba91d, #38920c);
        transform: rotate(45deg) skew(20deg, 20deg);
        z-index: -1;
        outline: none;
    }

    &:focus {
        border: 1px solid #fff;
        border-right: none;
        box-shadow: -1px 1px 0px 1px #5199db, -1px -1px 0px 1px #5199db;
        
        &:before {
            border: 1px solid #fff;
            box-shadow: 0px 0 0px 2px #5199db;
        }
    }

    &:hover {
        background: linear-gradient(#3b8d13,#307e0a);
        border-top-color: rgba(8,73,2, .7);
        border-left-color: rgba(8,73,2, .7);
        border-bottom-color: rgba(19,71,4, .8);

        &:before {
            background: linear-gradient(#3b8d13, #307e0a);
            border: 1px solid rgba(8,73,2, .7);
        }
    }

    &:active {
        border-top-color: #144f04;
        border-bottom-color: rgba(13,40,0, .8);
        border-left-color: rgba(7,57,0, .7);
        background: linear-gradient(#29660b,#35840e 3px,#35840e);
        box-shadow: none;
        
        &:before {
            background: linear-gradient(140deg, #29660b, #35840e 3px, #35840e);
            border: 1px solid rgba(7,57,9, .7);
            border-right: 1px solid rgba(13,40,0, .8);
            box-shadow: none;
        }
    }

    &:disabled {
        background: #f2f2f2;
        color: gray;
        border-color: rgba(0, 0, 0, .15);

        &:before {
            background: #f2f2f2;
            border-color: rgba(0, 0, 0, .15);
        }
    }
}
