.root {
	&.df {
		display: flex;
	}

	&.dif {
		display: inline-flex;
	}

	&.fdr {
		flex-direction: row;
	}

	&.fdc {
		flex-direction: column;
	}

	&.jcc {
		justify-content: center;
	}

	&.jce {
		justify-content: flex-end;
	}

	&.jcsb {
		justify-content: space-between;
	}

	&.jcs {
		justify-content: flex-start;
	}

	&.aic {
		align-items: center;
	}

	&.aista {
		align-items: flex-start;
	}

	&.aistr {
		align-items: stretch;
	}

	&.fwn {
		flex-wrap: nowrap;
	}

	&.fww {
		flex-wrap: wrap;
	}
}
