.matrixAWrapper {
	margin-left: 40px;
}

.matrixBWrapper {
	margin-top: 40px;
}

.matrixALabel,
.matrixBLabel {
	font-size: 30px;
}

.matrixALabel {
	margin-left: 20px;
}

.matrixBLabel {
	margin-top: 20px;
}
