%reset-base {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	box-sizing: border-box;
	overflow: visible;
	outline: none;
	cursor: pointer;
	user-select: none;
	background: none;
	color: inherit;
	font: inherit;
	line-height: inherit;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

%reset-input {
	@extend %reset-base;

	max-width: 100%;

	/* Turn off the recent search for webkit. It adds about 15px padding on the left */
	&::-webkit-search-decoration {
		display: none;
	}
}

%reset-button {
	@extend %reset-base;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
